html,
body {
  height: 100%;
  
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.custom-control {
  cursor: pointer;

  color: rgb(25,25,25);

  background: #FFF;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);

  border: 2px solid #FFF;
  border-radius: 3px;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  
  line-height: 38px;
  text-align: center;
  
  margin: 8px 10px 22px;
  padding: 0 5px;
}

.custom-control:disabled {
  opacity: .5;
}
